<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SomethingDigital\Migration\Api\MigratorInterface" type="SomethingDigital\Migration\Migrator" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="migrate:make" xsi:type="object">SomethingDigital\Migration\Console\MakeCommand</item>
                <item name="migrate:retry" xsi:type="object">SomethingDigital\Migration\Console\RetryCommand</item>
            </argument>
        </arguments>
    </type>
</config>
